# CSC111 Winter 2023 Final Project: Python libraries needed to run this project.

# Testing and code checking
python-ta~=2.4.2
typeguard==2.13.3

# Math tools
scikit-learn
numpy
matplotlib

# Graphics and data visualization
networkx
